<section class="users-list align-items-right d-flex flex-column"> 
  <%@users.each do |user| %>
     <%= render "shared/profile",  user: user %>   
  <%end %>
  <% if can? :manage, @users %>
    <%= link_to 'New User', new_user_path, class: "btn btn-dark my-3 px-5 py-2 align-self-end" %>
  <% end %>
</section>