<section class="users-list align-items-right d-flex flex-column"> 
  <%@users.each do |user| %>
     <%= render "shared/profile",  user: user %>   
  <%end %>
  <%= link_to 'New User', new_user_path, class: "btn btn-success my-3 px-5 py-2 align-self-end" %>
</section>