<div class=" ps-3 post-comments">
  <%if comments %>
    <% comments.each do |comment| %>
      <p class=" bg-content ext-muted card p-2 my-2 post-comment fw-light fst-italic text-capitalize " >
        <strong class="text-primary fw-bold"><%= comment.author.name %>: </strong>
        <%=comment.text%> 
      </p>
      <% if can? :destroy, @user %>   
        <%= button_to "DELETE COMMENT", [current_user, comment],
                    confirm: "Are you sure?",
                    method: :delete,
                    class:"btn btn-danger pe-3 my-3 py-2 h4"                  
                  %>
      <% end %>
    <%end%>
  <%end%> 
 
</div>